$fa-font-path: "../fonts/font-awesome" !default;
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.router-link-exact-active {
    @apply border-blue-600 text-blue-600
}

input[type="radio"]+label span {
    transition: background .2s,
        transform .2s;
}

input[type="radio"]+label span:hover,
input[type="radio"]+label:hover span {
    transform: scale(1.2);
}

input[type="radio"]:checked+label span {
    background-color: #3490DC; //bg-blue
    box-shadow: 0px 0px 0px 2px white inset;
}

input[type="radio"]:checked+label {
    color: #3490DC; //text-blue
}

.font-family-karla {
    font-family: karla;
}

.bg-sidebar {
    background: #3d68ff;
}

.cta-btn {
    color: #3d68ff;
}

.upgrade-btn {
    background: #1947ee;
}

.upgrade-btn:hover {
    background: #0038fd;
}

.active-nav-link {
    background: #1947ee;
}

.nav-item:hover {
    background: #1947ee;
}

.account-link:hover {
    background: #3d68ff;
}